<ion-view class="page-home" title="Medicyne">

  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <a class="button button-icon icon ion-ios7-gear" href="#/settings"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a class="button button-icon icon ion-navicon" href="#/users"></a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content scroll="false">
    <div class="avatar" ng-click="openHistory()">
      <img src="./img/avatar/example/user1.png" />
    </div>
    <div class="name">
      Michelle
    </div>
    <div class="symptom" ng-click="openSymptom()">
      Symptom
    </div>
  </ion-content>

</ion-view>
