<ion-view class="page-login">

  <ion-content>

    <div class="full-width">
      <div class="logo">
        <img src="./img/logo/medicyne.png" />
      </div>
    </div>

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-ios7-email-outline placeholder-icon"></i>
        <input type="email" placeholder="Email address" ng-model="loginData.email">
      </label>
      <label class="item item-input">
        <i class="icon ion-ios7-unlocked-outline placeholder-icon"></i>
        <input type="password" placeholder="Password" ng-model="loginData.password">
      </label>
    </div>

    <div class="padding internal-buttons">
      <div class="button-bar">
        <div class="button button-medium button-positive button-outline" id="button-create-account" ng-click="openRegister()">
          Create account
        </div>
        <div class="button button-medium button-positive button-outline ion-log-in" id="button-login" ng-click="doLogin()">
          Login
        </div>
      </div>
    </div>

    <div class="padding external-buttons">
      <div class="list">
        <div class="item item-icon-left facebook-item">
          <i class="icon ion-social-facebook"></i>
          Login with Facebook
        </div>
        <div class="item item-icon-left google-item">
          <i class="icon ion-social-googleplus-outline"></i>
          Login with Google
        </div>
      </div>
    </div>

  </ion-content>

  <ion-footer-bar>
    <div class="skip-button" ng-click="openOtc()">
      <i class="icon ion-chevron-right"></i>
      <span>Touch to skip login</span>
    </div>
  </ion-footer-bar>

</ion-view>
