.bar-transparent {
  background-color: transparent;

  border: none;

  .button {
    color: #fff !important;
  }
}

.bar-header {
  border-bottom: 1px solid #eee;
  box-shadow: none;
}

.bar-footer {
  border-top-color: #fff;
}

.bar-outline {
  background: #fff;

  h1, .button {
    color: #13A89E !important;
  }
}

.list-inset .input-label {
  font-weight: normal;
  color: #888;
}

.full-width {
  width: 100%;
}

.button.button-positive {
 border-color:#13A89E;
 background-color:#13A89E;
 color:#fff;
}
.button.button-positive:hover {
  color: #fff;
  text-decoration: none;
}
.button.button-positive.active,
.button.button-positive.activated {
  border-color: #13A89E;
  background-color: #13A89E;
  box-shadow: none;
}
.button.button-positive.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #13A89E;
}
.button.button-positive.button-icon {
  border-color: transparent;
  background: none;
}
.button.button-positive.button-outline {
  border-color: #13A89E;
  background: transparent;
  color: #13A89E;
}
.button.button-positive.button-outline.active,
.button.button-positive.button-outline.activated {
  background-color: #13A89E;
  box-shadow: none;
  color: #fff;
}

.button-alert {
  min-height: 30px !important;
  height: 30px !important;

  border-radius: 0 !important;

  border-color: #13A89E !important;
  background: transparent !important;
  color: #13A89E !important;

  &.active, &.activated {
    background-color: #13A89E !important;
    box-shadow: none !important;
    color: #fff !important;
  }
}

.checkbox input:before, .checkbox .checkbox-icon:before {
  border-color: #13A89E;
}

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
  background: #13A89E;
}

.popup {
  background: #fff !important;

  .popup-title {
    font-size: 14px;
    color: #13A89E !important;
  }

  .popup-body {
    font-size: 15px;
    color: #555 !important;
  }

  .button {
    .button-alert;
  }
}

input {
  color: #13A89E !important;
}
