.bar-transparent {
  background-color: transparent;

  border: none;

  .button {
    color: #fff !important;
  }
}

.bar-header {
  border-bottom: 1px solid #eee;
  box-shadow: none;
}

.bar-footer {
  border-top-color: #fff;
}

.bar-outline {
  background: #fff;

  h1, .button {
    color: #4F8EF7 !important;
  }
}

.list-inset .input-label {
  font-weight: normal;
  color: #888;
}

.full-width {
  width: 100%;
}
