.page-home {
  //background: url('../img/bg/bg-main.png');
  background: #13A89E;
  background-size: 100% auto;

  .bar-header {
    border-bottom-color: transparent;

    .button {
      color: #fff !important;
    }
  }

  .avatar {
    margin: 0px auto;

    img {
      width: 100%;
      height: 100%;

      border-radius: 50%;
    }

    &:active {
      opacity: 0.8;
    }
  }

  .name {
    width: 100%;
    text-align: center;

    margin: 0px auto;

    font-size: 17px;
    color: #fff;
    font-weight: bold;
  }

  .symptom {
    margin: 0px auto;

    font-weight: bold;
    color: #fff;

    text-align: center;

    border: 5px solid #fff;
    border-radius: 50%;

    cursor: pointer;

    &:active {
      opacity: 0.5;
    }
  }
}
