.iphone-3g, .iphone-3gs {

  .page-home {
    .avatar {
      width: 160px;
      height: 160px;

      margin-top: 20px;
    }

    .name {
      margin-top: 10px;

      font-size: 15px;
    }

    .symptom {
      width: 110px;
      height: 110px;

      margin-top: 50px;
      padding-top: 43px;
      border-width: 3px;
      font-size: 15px;
    }
  }

  .page-login {
    .logo {
      width: 120px;
      margin-top: 15px;
    }

    .internal-buttons {
      .button {
        height: 40px;
        min-height: 40px;

        line-height: 40px;
      }
    }

    .external-buttons {
      .item {
        height: 30px;
        padding: 5px 55px;

        font-size: 12px;

        .icon {
          top: 3px;
          font-size: 20px;
        }
      }
    }
  }

  .page-anonymous {
    .launcher .icon {
      width: 110px;
      height: 110px;

      margin-bottom: 10px;
      padding-top: 43px;
      border-width: 3px;
      font-size: 15px;
    }
  }
}
